/__pycache__
/.vscode
/API/__pycache__
/API/team-dynamax-covid-analysis-09c34cfe9f24.json
/API/testing/team-dynamax-covid-analysis-09c34cfe9f24.json
/API/index.html
/API/ProcFile
/API/requirements.txt
/API/runtime.txt
/API/test.csv

